#wrapper{
    display:grid;
    grid-template-areas: 
        "logo header header header"
        "navigation navigation navigation navigation"
        "container container container container"
        "contact contact contact contact"
        "footer footer footer footer";
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
    color: dimgrey;
    background-color: azure;


        

}
a{
    text-decoration: none;
}
p{
    font-style: oblique;
    font-family: fantasy;
    color: dimgrey;
}
h1{
    font-style: oblique;
    font-family: fantasy;
    color: dimgrey;
}
h3{
    font-style: oblique;
    font-family: fantasy;
    color: dimgrey;
}
h4{
    font-style: normal;
    font-family: serif;
    color:dimgray;
}
#logo{
    grid-area:logo;
    padding: 32px;
    max-height: 100px;
    max-width: 300px;
    background-color: azure; 
}
img{
    max-height: inherit;
    max-width: inherit;
    background-color: azure; 
}
#header{
    grid-area:header;
    padding: 32px;
    background-color: azure;
}
#navigation{
    grid-area: navigation;
    padding: 32px;
    background-color:#D8F5F1;
}
#innergrid{
    display: grid;
    grid-template-areas: 
        "home about social cultural Swot Interest";
    grid-gap: 5px;
    background-color:#D8F5F1;
}
#home{
    grid-area:home;
    padding: 16px;
    background-color: #FDEFED;
}
#about{
    grid-area:about;
    padding: 16px;
    background-color: #FDEFED;
}
#social{
    grid-area:social;
    padding: 16px;
    background-color: #FDEFED;
}
#cultural{
    grid-area:cultural;
    padding: 16px;
    background-color: #FDEFED;
}
#Swot{
    grid-area:Swot;
    padding: 16px;
    background-color: #FDEFED;
}
#Interest{
    grid-area:Interest;
    padding: 16px;
    background-color: #FDEFED;
}
#container{
    grid-area: container;
    background-color: #B1D1ED;
    text-align: center;
    

}
#innergrid2{
    display: grid;
    grid-template-areas: 
        "personalinfo img";
    grid-gap: 10px;
    padding: 64px;
    
}
#personalinfo{
    grid-area: personalinfo;
    background-color: #FFFCF9;
    padding: 64px;

} 
#img{
    grid-area: img;
}
#innergrid3{
     display: grid;
    grid-template-areas: 
        "imgofme imgofflag"
        "imgofmbti favcolour";
    grid-gap: 10px;
    padding: 32px;
    background-color: #B7C1C7;
}
#imgofme{
    grid-area:imgofme;
    background-color: #FFFCF9;
    padding: 32px;
}
#imgofflag{
    grid-area:imgofflag;
    background-color: #FFFCF9;
    padding: 32px;
}
#imgofmbti{
    grid-area:imgofmbti;
    background-color: #FFFCF9;
    padding: 32px;
}
#favcolour{
    grid-area:favcolour;
    background-color: #FFFCF9;
    padding: 32px;
}
#contact{
    grid-area:contact;
    background-color: #9BC2BF;
    padding: 32px;
}
#footer{
    grid-area:footer;
    background-color: #86AEAB;
    padding: 32px;
}
#navigation,#home,#about,#social,#cultural,#Swot,#Interest,#brief,#imagepersonal,#hobbies,#birthdate,#flagofTaiwan,#imageofNZ,#contact,#footer{
    display: grid;
    border: 1px solid;
    border-color: whitesmoke;
}